<ngx-spinner color = "#c2185b"></ngx-spinner>
<div class="row">
  <div class="col-lg-2 col-sm-3 mb-3">
    <mat-button-toggle-group [(ngModel)]="typeView">
      <mat-button-toggle value="table">
        <mat-icon>table_rows</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="card">
        <mat-icon>dashboard</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div class="col-lg-8 col-sm-6">
    <mat-form-field appearance="fill">
      <mat-label>Casa</mat-label>
      <mat-select [(ngModel)]="house" (ngModelChange)="getCharacter()">
        <mat-option value="slytherin">slytherin</mat-option>
        <mat-option value="gryffindor">gryffindor</mat-option>
        <mat-option value="ravenclaw">ravenclaw</mat-option>
        <mat-option value="hufflepuff">hufflepuff</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

</div>

<app-table-card [typeView] = "typeView" [characters] = "characters"></app-table-card>
