<mat-toolbar color="primary" class="mat-elevation-z8">
  <button (click)="sidenav.toggle()" mat-icon-button class="example-icon"
    aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Administrador Howarts {{title ? "- "+title : ''}} </span>
  <!-- <span class="spacer"></span> -->
  <!-- <button
    mat-icon-button
    matTooltip="Iniciar sersion"
    class="example-icon">
    <mat-icon>perm_identity</mat-icon>
  </button>
  <button
    mat-icon-button
    matTooltip="Cerrar sesión"
    class="example-icon">
    <mat-icon>power_settings_new</mat-icon>
  </button> -->
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav class="mat-elevation-z8">
    <mat-selection-list [multiple]="false">
      <mat-list-option (click)="title = route.name" [routerLink]="[route.url]" *ngFor="let route of routes"
        [value]="route.url">
        <mat-icon mat-list-icon>{{route.icon}}</mat-icon>
        {{route.name}}
      </mat-list-option>
    </mat-selection-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="container mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
